<!DOCTYPE HTML>
<html>

<html xmins = "http://www.w3.org/1999/xhtml">
<link href="http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css">


<head>
	<meta http-equiv= "Content-Type" content= "text/html; charset=UFT-8" />
	<title>Home | Poem Generator</title>
	<style type="text/css"> {% include "style.css" %} </style>
</head>

<body>
        {% if not loggedin %}
	<h1>Welcome to the Poem Generator!</h1>
	{% else %}
	<h1>Home Page</h1>
	{% endif %}
	<!--<img src="{{ url_for('static', filename='book.png') }}" alt="falling_letters" width="250" height="350">-->
	<div style="width:100%; height: 10%; background-color: #FFFFFF" id="sidebar">
	

	  {% if not loggedin %}
	  <div id="login_section">
		<section class="loginform cf"> 
			<form action="" class="well login" method="POST">
			 
			  <div style="font-family:'Raleway'; font-size: 18px">
				  <label for="username"><b>Username</b></label>  
				  <div style="position: absolute; top: 2px; left: 100px">
				  <input type="username" class="textbox" name="username" required>
				  </div>
				</div>

				<div style="font-family:'Raleway'; font-size: 18px">
				  
				  <label for="password"><b>Password</b></label>  
				  <div style="position:absolute; top: 35px; left: 100px;">
				  <input type="password" class="textbox" name="password" required>
				  </div>
				</div> 
				<div id="button_container">
				<div id="sub">
				  <input style="position:absolute; top: 0px; right: 80px; height:80px" type="submit" name="button" value="Login"/>
				  <input style="position:absolute; top: 0px; right: 0px; height:80px" type="submit" name="button" value="Register"/>
				</div>
				</div>
			
				</form> 
		</section>
	  </div>
	  <div id="error_section">
	    {{error}}
	  </div>
<!--	  <div id="names">
	    <br/>
	    <br/>
	    Project made by:
	    <ul>
	    <li>Batya Zamansky</li>
	    <li>Zachary Zimmerman</li>
	    <li>Amanda Boss</li>
	    <li>Tiffany Phan</li>
	    </ul>
	    Period 7 Software Development
	  </div>-->
	  {% else %}
	  <div id="button_container">
	  	<button type="button" id="profile" style="position:absolute; top: 0px; left: 0px; height:80px" onclick="window.location.href='profile'">Profile</button>
	  	<button type="button" id="createpoem" style="position:absolute; top: 0px; left: 150px; height:80px" onclick="window.location.href='generate'">Generate</button>
		<button type="button" id="logout" style="position:absolute; top: 0px; right: 0px; height:80px" onclick="window.location.href='logout'">Logout</button>
	  </div>
	  {% endif %}

          <!--<img src="{{ url_for('static', filename='book.png') }}" alt="falling letters" width="250" height="350">-->
		
	</div>
	<center>
	<div id="main-content">  
	  
	  <div style="background-color: #ffffff" id="column">

		<h2>New Poems:</h2>

		{% for poem in poems %}
		<p>
			{% for line in poem %}
			{% if line != poem | last %}
			{{line}}<br/>
			{% endif %}
			{% endfor %}
		<a href="/{{poem[-1]}}">See Poem</a>	
		</p>
		{% endfor %}

	  </div>
	<div style="font-family:'Raleway'; font-size: 13px; position:fixed; left:5px; bottom:0px;">
	    Software Development Period 7
	  </div>
	 <div style="font-family:'Raleway'; font-size: 13px; position:fixed; right: 5px; bottom: 0px;">
	    Batya Zamansky, Zachary Zimmerman, Amanda Boss, Tiffany Phan
	  </div>
	</div>

</body>
</html>

	
	
