<!DOCTYPE HTML>
<html>

<html xmins = "http://www.w3.org/1999/xhtml">
<link href="http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css">


<head>
	<meta http-equiv= "Content-Type" content= "text/html; charset=UFT-8" />
	<title>Home | Poem Generator</title>
	<style type="text/css"> {% include "style.css" %} </style>
</head>

<body>
        {% if not loggedin %}
	<h1>Welcome to the Poem Generator!</h1>
	{% else %}
	<h1>Home Page</h1>
	{% endif %}
	
	<div id="sidebar">

	  {% if not loggedin %}
	  <div id="login_section">
		<section class="loginform cf"> 
			<form action="" class="well login" method="POST"> 
			  <div>
				  <label for="username"><b>Username</b></label>  
				  <input type="username" class="textbox" name="username" required>
				</div>
				<div>
				  <label for="password"><b>Password</b></label>  
				  <input type="password" class="textbox" name="password" required>
				</div> 
				<div id="sub">
				  <input type="submit" name="button" value="Login"/>
				  <input type="submit" name="button" value="Register"/>
				</div>
				</form> 
		</section>
	  </div>
	  <div id="error_section">
	    {{error}}
	  </div>
	  <div id="names">
	    <br/>
	    <br/>
	    Project made by:
	    <ul>
	    <li>Batya Zamansky</li>
	    <li>Zachary Zimmerman</li>
	    <li>Amanda Boss</li>
	    <li>Tiffany Phan</li>
	    </ul>
	    Period 7 Software Development
	  </div>
	  {% else %}
	  <div id="button_container">
	  	<button type="button" id="profile" onclick="window.location.href='profile'">Profile</button>
	  	<button type="button" id="createpoem" onclick="window.location.href='generate'">Generate</button>
		<button type="button" id="logout" onclick="window.location.href='logout'">Logout</button>
	  </div>
	  {% endif %}

          <img src="{{ url_for('static', filename='book.png') }}" alt="falling letters" width="250" height="350">
		
	</div>
	
	<div id="main-content">  

	  <div id="column">

		<h2>New Poems:</h2>

		{% for poem in poems %}
		<p>
			{% for line in poem %}
			{% if line != poem | last %}
			{{line}}<br/>
			{% endif %}
			{% endfor %}
		<a href="/poem/{{poem[-1]}}">See Poem</a>	
		</p>
		{% endfor %}

	  </div>

	</div>
	
</body>
</html>

	
	
