<!DOCTYPE HTML>
<html>

<html xmins = "http://www.w3.org/1999/xhtml">
<link href="http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css">


<head>
	<meta http-equiv= "Content-Type" content= "text/html; charset=UFT-8" />

	<title>Home | Poem Generator</title>
	<style type="text/css"> {% include "style.css" %} </style>
</head>

<body>

	<h1>Welcome to the Poem Generator!</h1>

	<div id="sidebar">

	  {% if not loggedin %}
	  <div id="login_section">
		<section class="loginform cf"> 
			<form action="" class="well login" method="POST"> 
				<div>
				  <label for="usermail"><b>Email</b></label>  
				  <input type="email" class="textbox" name="username" required>
				</div>
				<div>
				  <label for="password"><b>Password</b></label>  
				  <input type="password" class="textbox" name="password" required>
				</div> 
				<div id="sub">
				  <input type="submit" name="button" value="Login"/>
				  <input type="submit" name="button" value="Register"/>
				</div>
				</form> 
		</section>
	  </div>
	  {% else %}
	  <div id="button_container">
		<button type="button" id="profile" onclick="window.location.href='profile'">Profile</button>
		<button type="button" id="createpoem" onclick="window.location.href='generate'">Create Poem!</button>
		<button type="button" id="logout" onclick="window.location.href='logout'">Logout</button>
	  </div>
	  {% endif %}
		
	</div>
	
	<div id="new_poems">  
		<h2>New Poems!</h2>

		{% for poem in poems %}
		<p>
			{% for line in poem %}
			{{line}}<br/>
			{% endfor %}
		</p>
		{% endfor %}
		
	</div>
	
</body>
</html>

	
	
