<!DOCTYPE HTML>
<html>

<html xmins = "http://www.w3.org/1999/xhtml">
<link href="http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css">


<head>
	<meta http-equiv= "Content-Type" content= "text/html; charset=UFT-8" />
	<title>Make Poem | Poem Generator</title>
	<style type="text/css"> {% include "style.css" %} </style>
	<script src="{{ url_for('static', filename='jquery.js') }}"></script>
	<script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>

	<h1>Generate your own Poem!</h1>

	<div id="sidebar">

	  <div id="button_container">
	  	<button type="button" id="home" style="position:absolute; top: 0px; left: 0px; height:80px" onclick="window.location.href='/'">Home</button>
		<button type="button" id="profile" style="position:absolute; top: 0px; left: 150px; height:80px" onclick="window.location.href='profile'">Profile</button>
		<button type="button" id="logout" style="position:absolute; top: 0px; right: 0px; height:80px" onclick="window.location.href='logout'">Logout</button>
	  </div>

	  <!--<img src="{{ url_for('static', filename='book.png') }}" alt="falling letters" width="250" height="350">-->

	</div>
	
	<div id="main-content">

	  <div id="column">
		
		<form id="options" action="" method="POST">
			<div style="font-family:'Raleway'">
			  <div style="font-size:18px">
			<h3>Options:</h3>
			</div>
			  <div style="font-size:15px">
			<label for="type"><b>Poem Form:</b></label>
			<select name="type" id="type">
				<option value="haiku">Haiku</option>
				<option value="sonnet">Sonnet</option>
				<option value="free verse">Free Verse</option>
				<option value="shakespeare">In the style of Shakespeare</option>
				<option value="dickinson">In the style of Dickinson</option>
				<option value="poe">In the style of Poe</option>
				<option value="whitman">In the style of Whitman</option>
			</select>
		
			
			<div id="numLines">
			  <br>
			<label for="lines"><b>Number of Lines</b></label>
			<select name="lines" id="lines">
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6" selected="selected">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
			</select>
			<br>
			</div>
			
			<div id="rhyme">
			  <br>
			<label for="rhyme1 rhyme2"><b>Words to Rhyme on:</b></label>
			<input type="words" class="textbox" name="rhyme1">
			<input type="words" class="textbox" name="rhyme2">
			</div>
			<br><br>
			
			<input type="submit" name="button" value="Generate">
		
			</div>
			  </div>
		</form>
			
		<div id="poem">
		  {% if poem %}
		  <h2>Your Poem</h2>
		  {% endif %}

			<p>
				{% for line in poem %}
				{{line}} <br/>
				{% endfor %}
			</p>

			{% if made %}
			<form action="" method="POST">
				<input type="submit" name="button" value="Add Poem">
			</form>

			{% endif %}
			{% if added %}
			<i>Poem Added</i>
			<br>
			<b>Would you like to make another poem?</b>
			{% endif %}
		</div>
		
	  </div>

	</div>

</body>
</html>

	
