<!DOCTYPE HTML>
<html>

<html xmins = "http://www.w3.org/1999/xhtml">
<link href="http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css">

<head>
	<meta http-equiv= "Content-Type" content= "text/html; charset=UFT-8" />
	<title>Profile | Poem Generator</title>
    <style type="text/css"> {% include "style.css" %} </style>
</head>

<body>

	<h1>Profile - {{user}}</h1>
	
	<div id="sidebar">

	  <div id="button_container">
	  	<button type="button" id="createpoem" onclick="window.location.href='/'">Home</button>
		<button type="button" id="profile" onclick="window.location.href='generate'">Generate</button>
		<button type="button" id="logout" onclick="window.location.href='logout'">Logout</button>
	  </div>	

	  <img src="http://24.media.tumblr.com/tumblr_m57o3aJIN81qdqeteo1_500.jpg" alt="falling_letters" width="250" height="350">

	</div>
	
	<div id="main-content">  
		<h2>Your Poems:</h2>

		{% for poem in poems %}
		<p>
			{% for line in poem %}
			{{line}}<br/>
			{% endfor %}
		</p>
		{% endfor %}
		
	</div>
	
</body>
</html>
